# #분류 모델 수행하기
## 진행 순서
##### 1. 데이터 탐색
##### 2. 전처리
##### 3. 학습 및 평가
##### 4. 결과 제출

In [63]:
import pandas as pd
import numpy as np

## 1. 데이터 탐색
#### 1.1 데이터 가져오기

In [64]:
x_train = pd.read_csv("D:/titanic_x_train.csv", encoding = "CP949")
x_test = pd.read_csv("D:/titanic_x_test.csv", encoding = "CP949")
y_train = pd.read_csv("D:/titanic_y_train.csv", encoding = "CP949")

In [65]:
# x_train 확인
x_train.head(1).T

                                   0
PassengerId                        1
티켓등급                               3
승객이름         Braund, Mr. Owen Harris
성별                              male
나이                                22
형제자매배우자수                           1
부모자식수                              0
티켓번호                       A/5 21171
운임요금                            7.25
객실번호                             NaN
선착장                                S

In [66]:
# x_test 확인
x_test.head(1).T

                            0
PassengerId               892
티켓등급                        3
승객이름         Kelly, Mr. James
성별                       male
나이                       34.5
형제자매배우자수                    0
부모자식수                       0
티켓번호                   330911
운임요금                   7.8292
객실번호                      NaN
선착장                         Q

In [67]:
# y_train 확인
y_train.head(5)

   癤풮assengerId  Survived
0             1         0
1             2         1
2             3         1
3             4         1
4             5         0

#### 1.2 행/열 확인하기

In [68]:
# 각각 데이터셋의 행/열확인
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(891, 11)
(418, 11)
(891, 2)

#### 1.3 요약정보 확인하기

In [69]:
# x_train의 요약정보 확인
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
None

In [70]:
# x_train 데이터셋의 object값들 중 범주형 변수가 있는지 확인하기위해 각각 유니크한 값들의 개수 확인
print("승객이름", x_train["승객이름"].unique().size)
print("성별", x_train["성별"].unique().size)
print("티켓번호", x_train["티켓번호"].unique().size)
print("객실번호", x_train["객실번호"].unique().size)
print("선착장", x_train["선착장"].unique().size)

승객이름 891
성별 2
티켓번호 681
객실번호 148
선착장 4

In [71]:
# x_train 데이터셋의 성별과 선착장은 범주형 변수임을 확인
print("성별", x_train["성별"].unique())
print("선착장", x_train["선착장"].unique())

성별 ['male' 'female']
선착장 ['S' 'C' 'Q' nan]

#### 1.4 기초 통계량 확인하기

In [72]:
# 기초 통계량 확인하기
# 학습데이터셋의 기초 통계량 확인
x_train.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
티켓등급,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
나이,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
형제자매배우자수,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
부모자식수,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
운임요금,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

#### 1.5 독립변수와 종속변수의 관계 확인

In [73]:
# x_train과 y_train을 합쳐서 data 데이터프레임 생성
data = pd.concat([x_train,y_train], axis = 1)
data.head(1).T

                                    0
PassengerId                         1
티켓등급                                3
승객이름          Braund, Mr. Owen Harris
성별                               male
나이                                 22
형제자매배우자수                            1
부모자식수                               0
티켓번호                        A/5 21171
운임요금                             7.25
객실번호                              NaN
선착장                                 S
癤풮assengerId                        1
Survived                            0

In [74]:
# 성별에 따른 생존률 확인
data.pivot_table(index = "성별", values = "Survived", aggfunc = "mean")

        Survived
성별
female  0.742038
male    0.188908

In [75]:
# 티켓등급별 생존률 확인
data.pivot_table(index = "티켓등급", values = "Survived", aggfunc = "mean")

      Survived
티켓등급
1     0.629630
2     0.472826
3     0.242363

In [76]:
# 선착장별 생존률 확인
data.pivot_table(index = "선착장", values = "Survived", aggfunc = "mean")

     Survived
선착장
C    0.553571
Q    0.389610
S    0.336957

##### ** 위의 관계 파악 결과 성별, 티켓등급, 선착장은 생존률에 많은 영향을 주는 요인이므로 데이터 분석 대상에 반드시 포함 시켜야한다.

## 2. 전처리
##### - 앞서 수행한 데이터 관찰 결과를 기반으로 학습 데이터와 테스트 데이터를 전처리한다. 
##### - 학습 데이터인 x_train, y_train으로 모델을 만들어 데이터 학습을 수행하지만, 테스트 데이터인 x_test도 값을 예측하는 과정에 사용하므로 동일한 전처리 과정을 적용해야 한다.
#### 2.1 불필요한 칼럼 삭제하기

In [77]:
# passengerID는 종속변수인 생존 여부를 예측하는데 필요한 정보는 아니지만 최종 결과 형식에 포함되어야하므로 따로 저장해둔다.
x_test_passenger_id = x_test["PassengerId"]

In [78]:
# x_train, y_train, x_test에서 PassengerID 열을 삭제한다.
x_train = x_train.drop(columns = ["PassengerId"])
y_train = y_train.drop(columns = ["癤풮assengerId"])
x_test = x_test.drop(columns = ["PassengerId"])

In [79]:
# 학습 데이터와 테스트 데이터에서 "티켓번호", "승객이름" 칼럼 삭제
x_train = x_train.drop(columns = ["티켓번호"])
x_test = x_test.drop(columns = ["티켓번호"])

x_train = x_train.drop(columns = ["승객이름"])
x_test = x_test.drop(columns = ["승객이름"])

In [80]:
# 열이 잘 삭제 되었는지 확인
print(x_train.head(1))
print(x_test.head(1))
print(y_train.head(1))

   티켓등급    성별    나이  형제자매배우자수  부모자식수  운임요금 객실번호 선착장
0     3  male  22.0         1      0  7.25  NaN   S
   티켓등급    성별    나이  형제자매배우자수  부모자식수    운임요금 객실번호 선착장
0     3  male  34.5         0      0  7.8292  NaN   Q
   Survived
0         0

#### 2.2 결측치 처리하기
##### - 앞선 데이터 탐색 과정에서 결측치가 있는 "나이","객실번호","선착장" 칼럼을 확인했음

In [81]:
# 나이, 객실번호, 선착장 열에서 결측값이 각각 몇개인지 확인
print("나이 결측치 수", x_train["나이"].isnull().sum())
print("객실번호 결측치 수", x_train["객실번호"].isnull().sum())
print("선착장 결측치 수", x_train["선착장"].isnull().sum())

나이 결측치 수 177
객실번호 결측치 수 687
선착장 결측치 수 2

In [82]:
# 나이 열과 종속변수인 Survived 열과의 상관성 확인
print(data[["나이","Survived"]].corr())

                나이  Survived
나이        1.000000 -0.077221
Survived -0.077221  1.000000

In [83]:
# 상관관계 분석 결과가 0.0772로 매우 낮기 때문에 나이는 분석 대상에서 제외
# 객실번호는 중복을 제외한 값이 148건 존재함을 확인했고, 대부분의 데이터가 서로 상이한 값이기 때문에 분석 대상에서 제외
x_train = x_train.drop(columns = ["나이","객실번호"])
x_test = x_test.drop(columns = ["나이","객실번호"])

In [84]:
# 선착장은 결측값이 총 2개였음
# 세 종류로 구성된 범주형 변수이므로 가장 많은 값을 차지하는 변수로 결측치를 채우도록 함
x_train.groupby(by = "선착장")["선착장"].count()

선착장
C    168
Q     77
S    644
Name: 선착장, dtype: int64

In [85]:
# 선착장의 결측치는 가장 많은 값을 차지하는 S로 채우도록 함.
x_train["선착장"] = x_train["선착장"].fillna("S")

In [86]:
x_train["선착장"].isnull().sum()

0

#### 2.3 범주형 변수를 인코딩하기

In [87]:
# 범주형 데이터인 성별 칼럼을 male은 0으로, female은 1로 변환해준다.
# 성별 칼럼은 단순히 두 종류인 0,1로만 변환하면 되기 때문에 수동으로 변환해준다.
x_train["성별"] = x_train["성별"].replace("male",0).replace("female",1)
x_test["성별"] = x_test["성별"].replace("male",0).replace("female",1)

In [88]:
x_train.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장
0     3   0         1      0   7.2500   S
1     1   1         1      0  71.2833   C
2     3   1         0      0   7.9250   S
3     1   1         1      0  53.1000   S
4     3   0         0      0   8.0500   S

In [89]:
dummy = pd.get_dummies(x_train["선착장"],drop_first = True)
dummy = dummy.rename(columns = {"Q":"선착장Q","S":"선착장S"})

In [90]:
x_train = pd.concat([x_train,dummy],axis = 1)
x_train.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장  선착장Q  선착장S
0     3   0         1      0   7.2500   S     0     1
1     1   1         1      0  71.2833   C     0     0
2     3   1         0      0   7.9250   S     0     1
3     1   1         1      0  53.1000   S     0     1
4     3   0         0      0   8.0500   S     0     1

In [92]:
x_train = x_train.drop(columns = "선착장")
x_train.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금  선착장Q  선착장S
0     3   0         1      0   7.2500     0     1
1     1   1         1      0  71.2833     0     0
2     3   1         0      0   7.9250     0     1
3     1   1         1      0  53.1000     0     1
4     3   0         0      0   8.0500     0     1

In [95]:
dummy = pd.get_dummies(x_test["선착장"],drop_first = True)
x_test = pd.concat([x_test,dummy],axis = 1)
x_test = x_test.drop(columns = "선착장")
x_test.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금  Q  S
0     3   0         0      0   7.8292  1  0
1     3   1         1      0   7.0000  0  1
2     2   0         0      0   9.6875  1  0
3     3   0         0      0   8.6625  0  1
4     3   1         1      1  12.2875  0  1

#### 2.4 파생변수 만들기
##### - 데이터셋의 형제자매배우자수, 부모자식수 칼럼을 합쳐서 "가족수" 라는 파생변수를 생성

In [97]:
x_train["가족수"] = x_train["형제자매배우자수"]+x_train["부모자식수"]

In [101]:
x_train = x_train.drop(columns = ["형제자매배우자수","부모자식수"])

In [103]:
x_test["가족수"] = x_test["형제자매배우자수"]+x_test["부모자식수"]

In [104]:
x_test = x_test.drop(columns = ["형제자매배우자수","부모자식수"])

In [106]:
x_test = x_test.rename(columns = {"Q":"선착장Q","S":"선착장S"})

In [107]:
print(x_train.head())
print(x_test.head())

   티켓등급  성별     운임요금  선착장Q  선착장S  가족수
0     3   0   7.2500     0     1    1
1     1   1  71.2833     0     0    1
2     3   1   7.9250     0     1    0
3     1   1  53.1000     0     1    1
4     3   0   8.0500     0     1    0
   티켓등급  성별     운임요금  선착장Q  선착장S  가족수
0     3   0   7.8292     1     0    0
1     3   1   7.0000     0     1    1
2     2   0   9.6875     1     0    0
3     3   0   8.6625     0     1    0
4     3   1  12.2875     0     1    2

## 3. 학습 및 평가
##### - 전처리가 완료되면 데이터를 학습하고, 학습된 모델을 평가해야 한다.
#### 3.1 데이터 분리하기

In [108]:
# 데이터를 분리하기 위한 train_test_split 함수를 가져오기
from sklearn.model_selection import train_test_split

# 학습용과 검증용을 8:2로 분리하여 각 4개의 변수에 저장하기
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2, random_state = 10)

# 분리된 데이터의 행/열 구조 확인하기
print(X_TRAIN.shape)
print(X_TEST.shape)
print(Y_TRAIN.shape)
print(Y_TEST.shape)

(712, 6)
(179, 6)
(712, 1)
(179, 1)

#### 3.2 데이터 학습 및 하이퍼 파라미터 튜닝하기

In [109]:
# xgboost 라이브러리에서 제공하는 XBGClassifier 함수 가져오기
from xgboost import XGBClassifier

In [111]:
# XGB 분류 분석을 수행할 첫 번째 모델을 만들고 학습시키기
model = XGBClassifier(eval_metric = "error", random_state = 10)
model.fit(X_TRAIN,Y_TRAIN)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric='error', gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=10,
              reg_alpha=0, reg_lambda=1, ...)

In [113]:
# XGB 분류 분석을 수행할 두 번째 모델 만들고 학습시키기
model = XGBClassifier(n_estimators = 100, max_depth = 5, eval_metric = "error", random_state = 10)
model.fit(X_TRAIN,Y_TRAIN)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric='error', gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=10,
              reg_alpha=0, reg_lambda=1, ...)

#### 3.3 결과 예측하기

In [114]:
# 학습이 완료된 모델을 통해 y_test 값을 예측하기
y_test_predicted = pd.DataFrame(model.predict(x_test)).rename(columns = {0:"Survived"})

# y_test_predicted 값 확인하기
y_test_predicted.head()

   Survived
0         0
1         1
2         0
3         0
4         1

In [115]:
# 학습이 완료된 모델을 통해 Y_TEST 값을 예측하기 : 평가지표 계산용
Y_TEST_PREDICTED = pd.DataFrame(model.predict(X_TEST))

#### 3.4 모델 평가하기

In [116]:
# sklearn 패키지의 metrics 모듈에서 roc_auc_score 함수를 가져오기
from sklearn.metrics import roc_auc_score

In [118]:
# 학습모델의 ROC 평가지표 값 확인
print(roc_auc_score(Y_TEST,Y_TEST_PREDICTED))

0.7983181692859112

## 4. 결과 제출하기

In [120]:
final = pd.concat([x_test_passenger_id,y_test_predicted], axis = 1)
final.head()
#final.to_csv("D:/final.csv",index = False)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1