In [31]:

import pandas as pd

# 인덱스를 지정해 시트 설정
df = pd.read_excel("C:/dataset/Dataset.xlsx")
df

,8,레스토랑명,카테고리,감정/박은지,계절/박창훈,비/정찬영,눈/최인태,기쁨/은지,슬픔/정찬영,분노/주경배,봄/창훈,여름/최인태,가을/원근,겨울/원근
0,더블에스프레소,Back다방,뺵다방커피,음료,없음,없음,없음,음료,음료,없음,없음,없음,없음,없음
1,에스프레소 콤프레또,Back다방,뺵다방커피,음료,없음,없음,없음,음료,음료,없음,없음,없음,없음,없음
2,앗!메리카노(HOT),Back다방,뺵다방커피,음료,없음,없음,없음,음료,음료,없음,없음,없음,없음,없음
3,앗!메리카노(ICED),Back다방,뺵다방커피,음료,없음,없음,없음,음료,음료,없음,없음,없음,없음,없음
4,원조커피(HOT),Back다방,뺵다방커피,음료,없음,없음,없음,음료,음료,없음,없음,없음,없음,없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,차돌된장찌개,본가,한식,찌개 및 백반,불고기/갈비살/차돌박이,삼계탕/백숙/찜닭,한정식,찌개 및 백반/분식,찌개 및 백반,찌개 및 백반,한정식,포장마차,전라도음식,없음
343,갈비탕,본가,한식,찌개 및 백반,설렁탕/곰탕/도가니탕,삼계탕/백숙/찜닭,한정식,찌개 및 백반/분식,찌개 및 백반,찌개 및 백반,한정식,오리훈제/구이/로스/탕,전라도음식,없음
344,본가비빔밥,본가,한식,없음,비빔밥/돌솥밥/쌈밥,비빔밥/돌솥밥/쌈밥,한정식,찌개 및 백반/분식,비빔밥,비빔밥,한정식,없음,전라도음식,없음
345,본가냉면,본가,한식,없음,냉면,냉면,냉면,찌개 및 백반/분식,분식,분식,한정식,냉면,전라도음식,없음
346,비빔냉면,본가,한식,없음,냉면,냉면,냉면,찌개 및 백반/분식,분식,분식,한정식,냉면,전라도음식,없음

In [32]:
df['슬픔/정찬영'].unique()

array(['음료', '초콜릿', '아이스크림', '없음', '찜 및 볶음류', '찌개 및 백반', '분식', '비빔밥'],
      dtype=object)

In [33]:
sad_score = []
a = list(df['슬픔/정찬영'])
for i in range(len(a)):
    if a[i] == '음료':
        sad_score.append(0.9)
    elif a[i] == '초콜릿':
        sad_score.append(0.8)    
    elif a[i] == '찌개 및 백반':
        sad_score.append(0.7)
    elif a[i] == '분식':
        sad_score.append(0.6)
    elif a[i] == '없음':
        sad_score.append(0)
    elif a[i] == '찜 및 볶음류':
        sad_score.append(0.4)
    elif a[i] == '죽':
        sad_score.append(0.3)
    elif a[i] == '아이스크림':
        sad_score.append(0.2)
    elif a[i] == '비빔밥':
        sad_score.append(0.1)
len(sad_score)

347

In [34]:
df['봄/창훈'].unique()

array(['없음', '지중해음식', '한정식', '돼지갈비/갈매기살', '철판구이/볶음밥', '불고기/갈비살/차돌박이'],
      dtype=object)

In [35]:
spring_score = []
b = list(df['봄/창훈'])
for i in range(len(b)):
    if b[i] == '한정식':
        spring_score.append(1)
    elif b[i] == '철판구이/볶음밥':
        spring_score.append(0.9)
    elif b[i] == '낙지':
        spring_score.append(0.8)
    elif b[i] == '오리훈제/구이/로스/탕':
        spring_score.append(0.7)
    elif b[i] == '지중해음식':
        spring_score.append(0.6)
    elif b[i] == '파전/모듬전/빈대떡':
        spring_score.append(0.5)
    elif b[i] == '불고기/갈비살/차돌박이':
        spring_score.append(0.4)
    elif b[i] == '딤섬':
        spring_score.append(0.3)
    elif b[i] == '비빔밥/돌솥밥/쌈밥':
        spring_score.append(0.2)
    elif b[i] == '돼지갈비/갈매기살':
        spring_score.append(0.1)
    elif b[i] == '없음':
        spring_score.append(0)
len(spring_score)

347

In [36]:
summer_score = []
c = list(df['여름/최인태'])
for i in range(len(c)):
    if c[i] == '햄버거':
        summer_score.append(1)
    elif c[i] == '삼계탕/백숙/찜닭':
        summer_score.append(0.9)
    elif c[i] == '냉면':
        summer_score.append(0.8)
    elif c[i] == '아이스크림':
        summer_score.append(0.7)
    elif c[i] == '카레':
        summer_score.append(0.6)
    elif c[i] == '장어구이/꼼장어':
        summer_score.append(0.5)
    elif c[i] == '전복':
        summer_score.append(0.4)
    elif c[i] == '치킨':
        summer_score.append(0.3)
    elif c[i] == '오리훈제/구이/로스/탕':
        summer_score.append(0.2)
    elif c[i] == '포장마차':
        summer_score.append(0.1)
    elif c[i] == '없음':
        summer_score.append(0)
    else:
        summer_score.append(0)
len(summer_score)

347

In [37]:
df['가을/원근'].unique()

array(['없음', '브런치', '전라도음식', '동남아음식', '태국음식', '설렁탕/곰탕/도가니탕'], dtype=object)

In [38]:
fall_score = []
d = list(df['가을/원근'])
for i in range(len(d)):
    if d[i] == '맥주/호프':
        fall_score.append(1)
    elif d[i] == '전라도음식':
        fall_score.append(0.9)
    elif d[i] == '브런치':
        fall_score.append(0.8)
    elif d[i] == '딤섬':
        fall_score.append(0.7)
    elif d[i] == '바':
        fall_score.append(0.6)
    elif d[i] == '설렁탕/곰탕/도가니탕':
        fall_score.append(0.5)
    elif d[i] == '이슬람음식':
        fall_score.append(0.4)
    elif d[i] == '동남아음식':
        fall_score.append(0.3)
    elif d[i] == '순두부':
        fall_score.append(0.2)
    elif d[i] == '태국음식':
        fall_score.append(0.1)
    elif d[i] == '없음':
        fall_score.append(0)
len(fall_score)

347

In [39]:
df['겨울/원근'].unique()

array(['없음', '스테이크하우스', '동남아음식', '씨푸드'], dtype=object)

In [40]:
winter_score = []
e = list(df['겨울/원근'])
for i in range(len(b)):
    if e[i] == '회':
        winter_score.append(1)
    elif e[i] == '해물탕/해물요리/꽃게':
        winter_score.append(0.9)
    elif e[i] == '쌀국수':
        winter_score.append(0.8)
    elif e[i] == '사케':
        winter_score.append(0.7)
    elif e[i] == '칵테일':
        winter_score.append(0.6)
    elif e[i] == '바':
        winter_score.append(0.5)
    elif e[i] == '씨푸드':
        winter_score.append(0.4)
    elif e[i] == '동남아음식':
        winter_score.append(0.3)
    elif e[i] == '와인':
        winter_score.append(0.2)
    elif e[i] == '스테이크하우스':
        winter_score.append(0.1)
    elif e[i] == '없음':
        winter_score.append(0)
len(winter_score)

347

In [41]:
df['비/정찬영'].unique()

array(['없음', '아이스크림', '지중해음식', '남미음식', '철판구이/볶음밥', '중국음식', '삼계탕/백숙/찜닭',
       '냉면', '쌀국수', '카레', '비빔밥/돌솥밥/쌈밥', '파전/모듬전/빈대떡', '곱창/양/대창/막창',
       '족발/보쌈', '햄버거'], dtype=object)

In [42]:
rain_score = []
f = list(df['비/정찬영'])
for i in range(len(f)):
    if f[i] == '포장마차':
        rain_score.append(1)
    elif f[i] == '파전/모듬전/빈대떡':
        rain_score.append(0.9)
    elif f[i] == '삼계탕/백숙/찜닭':
        rain_score.append(0.8)
    elif f[i] == '철판구이/볶음밥':
        rain_score.append(0.7)
    elif f[i] == '중국음식':
        rain_score.append(0.6)
    elif f[i] == '오리훈제/구이/로스/탕':
        rain_score.append(0.5)
    elif f[i] == '곱창/양/대창/막창':
        rain_score.append(0.4)
    elif f[i] == '사케':
        rain_score.append(0.3)
    elif f[i] == '쌀국수':
        rain_score.append(0.2)
    elif f[i] == '뷔페':
        rain_score.append(0.1)
    elif f[i] == '없음':
        rain_score.append(0)
    elif f[i] == '딤섬':
        rain_score.append(-1)
    elif f[i] == '지중해음식':
        rain_score.append(-0.9)
    elif f[i] == '햄버거':
        rain_score.append(-0.8)
    elif f[i] == '남미음식':
        rain_score.append(-0.7)
    elif f[i] == '아이스크림':
        rain_score.append(-0.6)
    elif f[i] == '이슬람음식':
        rain_score.append(-0.5)
    elif f[i] == '비빔밥/돌솥밥/쌈밥':
        rain_score.append(-0.4)
    elif f[i] == '냉면':
        rain_score.append(-0.3)
    elif f[i] == '족발/보쌈':
        rain_score.append(-0.2)
    elif f[i] == '카레':
        rain_score.append(-0.1)
len(rain_score)

347

In [43]:
df['눈/최인태'].unique()

array(['없음', '아이스크림', '지중해음식', '한정식', '퓨전레스토랑', '카레', '설렁탕/곰탕/도가니탕', '냉면',
       '떡', '퓨전레스트랑', '삼겹살/목살', '곱창/양/대창/막창'], dtype=object)

In [44]:
snow_score = []
g = list(df['눈/최인태'])
for i in range(len(g)):
    if g[i] == '삼겹살/목살':
        snow_score.append(1)
    elif g[i] == '이슬람음식':
        snow_score.append(0.9)
    elif g[i] == '이테리레스토랑':
        snow_score.append(0.8)
    elif g[i] == '설렁탕/곰탕/도가니탕':
        snow_score.append(0.7)
    elif g[i] == '바':
        snow_score.append(0.6)
    elif g[i] == '프렌치레스토랑':
        snow_score.append(0.5)
    elif g[i] == '패밀리레스토랑':
        snow_score.append(0.4)
    elif g[i] == '지중해음식':
        snow_score.append(0.3)
    elif g[i] == '동남아음식':
        snow_score.append(0.2)
    elif g[i] == '떡':
        snow_score.append(0.1)
    elif g[i] == '없음':
        snow_score.append(0)
    elif g[i] =='떡':
        snow_socre.append(-1)
    elif g[i] == '딤섬':
        snow_score.append(-0.9)
    elif g[i] == '감자탕':
        snow_score.append(-0.8)
    elif g[i] == '냉면':
        snow_score.append(-0.7)
    elif g[i] == '퓨전레스토랑':
        snow_score.append(-0.6)
    elif g[i] == '퓨전레스트랑':
        snow_score.append(-0.6)
    elif g[i] == '아이스크림':
        snow_score.append(-0.5)
    elif g[i] == '카레':
        snow_score.append(-0.4)
    elif g[i] == '남미음식':
        snow_score.append(-0.3)
    elif g[i] == '한정식':
        snow_score.append(-0.2)
    elif g[i] == '곱창/양/대창/막창':
        snow_score.append(-0.1)
    else:
        snow_score.append(0)
len(snow_score)

347

In [45]:
spring_after = [spring_score[i] * 0.5 for i in range(len(spring_score))]
rain_after = [rain_score[i] * 0.5 for i in range(len(rain_score))]
sad_spring_rain = [x+y+z for x,y,z in zip(sad_score, spring_after, rain_after)]
sad_spring_rainx = [x+y for x,y in zip(sad_score, spring_after)]

In [46]:
summer_after = [summer_score[i] * 0.5 for i in range(len(summer_score))]
sad_summer_rain = [x+y+z for x,y,z in zip(sad_score, summer_after, rain_after)]
sad_summer_rainx = [x+y for x,y in zip(sad_score, summer_after)]

In [47]:
fall_after = [fall_score[i] * 0.5 for i in range(len(fall_score))]
sad_fall_rain = [x+y+z for x,y,z in zip(sad_score, fall_after, rain_after)]
sad_fall_rainx = [x+y for x,y in zip(sad_score, fall_after)]

In [48]:
winter_after = [winter_score[i] * 0.5 for i in range(len(winter_score))]
snow_after = [snow_score[i] * 0.5 for i in range(len(snow_score))]
sad_winter_rain = [x+y+z for x,y,z in zip(sad_score, winter_after, rain_after)]
sad_winter_rainx = [x+y for x,y in zip(sad_score, winter_after)]
sad_winter_snow = [x+y+z for x,y,z in zip(sad_score, winter_after, rain_after)]
sad_winter_snowx = [x+y for x,y in zip(sad_score, winter_after)]

In [49]:
df = pd.DataFrame((zip(sad_spring_rain, sad_spring_rainx, sad_summer_rain, sad_summer_rainx, sad_fall_rain, sad_fall_rainx, sad_winter_rain, sad_winter_rainx, sad_winter_snow, sad_winter_snowx)), columns = ['sad_spring_rain', 'sad_spring_rainx', 'sad_summer_rain', 'sad_summer_rainx', 'sad_fall_rain', 'sad_fall_rainx', 'sad_winter_rain', 'sad_winter_rainx', 'sad_winter_snow', 'sad_winter_snowx'])
df

,sad_spring_rain,sad_spring_rainx,sad_summer_rain,sad_summer_rainx,sad_fall_rain,sad_fall_rainx,sad_winter_rain,sad_winter_rainx,sad_winter_snow,sad_winter_snowx
0,0.90,0.9,0.90,0.90,0.90,0.90,0.90,0.9,0.90,0.9
1,0.90,0.9,0.90,0.90,0.90,0.90,0.90,0.9,0.90,0.9
2,0.90,0.9,0.90,0.90,0.90,0.90,0.90,0.9,0.90,0.9
3,0.90,0.9,0.90,0.90,0.90,0.90,0.90,0.9,0.90,0.9
4,0.90,0.9,0.90,0.90,0.90,0.90,0.90,0.9,0.90,0.9
...,...,...,...,...,...,...,...,...,...,...
342,1.60,1.2,1.15,0.75,1.55,1.15,1.10,0.7,1.10,0.7
343,1.60,1.2,1.20,0.80,1.55,1.15,1.10,0.7,1.10,0.7
344,0.40,0.6,-0.10,0.10,0.35,0.55,-0.10,0.1,-0.10,0.1
345,0.95,1.1,0.85,1.00,0.90,1.05,0.45,0.6,0.45,0.6
346,0.95,1.1,0.85,1.00,0.90,1.05,0.45,0.6,0.45,0.6

In [50]:
df.to_csv('C:/dataset/sad_score.csv', encoding="utf-8-sig", index = False)