# 데이터프레임
## 데이터프레임 합치기 (append)
## 결측치 확인 삭제 (isnull) (dropna)
## 중복값 확인 삭제 (duplicated) (drop_duplicates)

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("D:/multi_1/preprocessing/bath0001.xlsx")
df2 = pd.read_excel("D:/multi_1/preprocessing/bath1003.xlsx")

In [3]:
df1.head(2)

            소재지도로명주소   Latitude   Longitude
0  서울특별시 종로구 청운동 7-2  37.591132  126.966135
1  서울특별시 종로구 청운동 7-3  37.591001  126.966224

In [5]:
df2.head(2)

,번호,구분,화장실명,소재지도로명주소,Latitude,Longitude,소재지지번주소,남녀공용화장실여부,남성용-대변기수,남성용-소변기수,...,화장실소유구분,화장실설치장소유형,오물처리방식,비상벨설치여부,비상벨설치장소,화장실입구CCTV설치유무,기저귀교환대유무,기저귀교환대장소,리모델링연월,데이터기준일자
0,1003,공중화장실,영등포로타리,"서울특별시 영등포구 영중로 지하 20 (영등포동3가, 영등포로터리지하도상가)",37.517431,126.907252,NaN,N,2,5,...,지방자치단체,공공용시설,수세식,Y,남자화장실+여자화장실,N,Y,남자화장실+여자화장실,NaN,2020-08-31
1,1004,공중화장실,영등포역 지하 화장실,"서울특별시 영등포구 영중로 지하 20 (영등포동3가, 영등포로터리지하도상가)",37.517431,126.907252,NaN,N,3,5,...,민간,공공용시설,수세식,N,없음,N,N,없음,NaN,2020-08-31

In [7]:
# df2에서 소재지도로명주소, Latitude, Longitude열만 남김
df2 = df2[["소재지도로명주소","Latitude","Longitude"]]

In [9]:
df2.head(2)

                                     소재지도로명주소   Latitude   Longitude
0  서울특별시 영등포구 영중로 지하 20 (영등포동3가, 영등포로터리지하도상가)  37.517431  126.907252
1  서울특별시 영등포구 영중로 지하 20 (영등포동3가, 영등포로터리지하도상가)  37.517431  126.907252

In [13]:
# 데이터프레임 합치기
data = df1.append(df2,ignore_index = True)
# ignore_index = True를 하지 않으면 각각의 데이터프레임이 갖고있던 인덱스를 그대로 가져오게됨.

data

                                   소재지도로명주소   Latitude   Longitude
0                         서울특별시 종로구 청운동 7-2  37.591132  126.966135
1                         서울특별시 종로구 청운동 7-3  37.591001  126.966224
2                       서울특별시 종로구 청운동 산 1-1  37.590606  126.970924
3                        서울특별시 종로구 삼청동 산2-1  37.589370  126.980313
4                        서울특별시 종로구 삼청동 산2-1  37.589370  126.980313
...                                     ...        ...         ...
1959  서울특별시 용산구 이태원로 145 (이태원동, 동호프라자.외환은행)  37.534539  126.990053
1960            서울특별시 용산구 이태원로 142-1 (이태원동)  37.536325  126.992602
1961                   서울특별시 용산구 이태원동 287-1  37.538131  126.989385
1962                    서울특별시 용산구 이촌로75길 19  37.520449  126.974542
1963     서울특별시 용산구 이촌로71길 42 (이촌동, 중앙선 이촌역)  37.522190  126.973583

[1964 rows x 3 columns]

In [15]:
# 결측값 확인
data.isnull().sum()

소재지도로명주소     43
Latitude     68
Longitude    68
dtype: int64

In [17]:
# 결측값 삭제
data.dropna(inplace = True)

In [20]:
# 결측치가 삭제되었음
data.isnull().sum()

소재지도로명주소     0
Latitude     0
Longitude    0
dtype: int64

In [23]:
# 중복 데이터 개수 확인
data.duplicated().sum()

269

In [25]:
# 중복 데이터 삭제
data2 = data.drop_duplicates()

In [28]:
print(data.shape)
print(data2.shape)

(1896, 3)
(1627, 3)